* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 1rem monospace;
}

body {
  background-color: darkslategrey;
}
body .container {
  margin: auto;
  width: min(100vw, 1600px);
  height: 100vh;
  display: grid;
  grid-template-rows: -webkit-max-content auto;
  grid-template-rows: max-content auto;
  padding: 1rem;
  gap: 1rem;
}
body .container .options {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
body .container .options > button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  padding: 0.5rem 1rem;
  width: 5rem;
  min-width: 5rem;
}
body .container .options > button:hover {
  cursor: pointer;
}
body .container .options .get {
  background-color: #5CA6F1;
}
body .container .options .get:hover {
  background-color: #2d8ced;
}
body .container .options .get:active {
  transform: translate(1px, 1px);
}
body .container .options .post {
  background-color: #45C289;
}
body .container .options .post:hover {
  background-color: #34a06f;
}
body .container .options .post:active {
  transform: translate(1px, 1px);
}
body .container .options .put {
  background-color: #EF992E;
}
body .container .options .put:hover {
  background-color: #d98011;
}
body .container .options .put:active {
  transform: translate(1px, 1px);
}
body .container .options .delete {
  background-color: #EC3B3B;
}
body .container .options .delete:hover {
  background-color: #de1616;
}
body .container .options .delete:active {
  transform: translate(1px, 1px);
}
body .container .display {
  display: grid;
  grid-template: -webkit-max-content repeat(2, 1fr)/repeat(2, 1fr);
  grid-template: max-content repeat(2, 1fr)/repeat(2, 1fr);
  gap: 1rem;
  overflow: hidden;
}
body .container .display .terminal, body .container .display > :nth-child(1n) {
  border: 3px solid whitesmoke;
  overflow: auto;
  background-color: black;
  padding: 1rem;
  color: #00FF00;
  transition: 0.5s;
  resize: none;
  outline: none;
}
body .container .display .terminal::-moz-placeholder, body .container .display > :nth-child(1n)::-moz-placeholder {
  color: darkslategray;
}
body .container .display .terminal:-ms-input-placeholder, body .container .display > :nth-child(1n):-ms-input-placeholder {
  color: darkslategray;
}
body .container .display .terminal::placeholder, body .container .display > :nth-child(1n)::placeholder {
  color: darkslategray;
}
body .container .display .terminal span, body .container .display > :nth-child(1n) span {
  white-space: nowrap;
}
body .container .display .url {
  border: none;
  background-color: whitesmoke;
  color: black;
  padding: 0.5rem 1rem;
  outline: none;
  grid-area: 1/1/1/-1;
}
body .container .display .structure {
  grid-area: 2/1/-1/2;
  resize: horizontal;
  min-width: calc(50% - 0.5rem);
}
body .container .display .input {
  grid-area: 2/2/3/-1;
}
body .container .display .response {
  grid-area: 3/2/-1/-1;
}

.textBlack {
  transition: 0s;
  color: black;
}/*# sourceMappingURL=style.css.map */